{% extends 'base.html' %} 

{% block content %}
<div class="flex flex-col min-h-screen bg-[#C08261]">
    <div class="text-white  flex flex-col">
        <div class="mt-2 mx-10 ">
            
            <h5 class="text-[#630000] text-6xl font-extrabold">Invenetory</h5>
            <h2 class="mt-4 text-4xl font-bold text-[#630000]">Your Best Inventory App</h2>
        </div>
    </div>
    
    <div class="w-full px-10 my-10">
        <div class="pl-6  ">
            <h5 class="text-2xl text-[#493323] font-semibold">Hai, {{nama_mahasiswa}}</h5>
            <h1 class="text-xl text-[#493323] font-semibold">Kelas PBP {{kelas}}</h1>
            <h1 class="text-xl text-[#493323] font-semibold">Last login: {{last_login}}</h1>
            
            <br />
            <a href="{% url 'main:logout' %}">
                <button class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-2 mx-6
                hover:bg-[#D13535]">
                    Logout
                </button>
            </a>
            
            
        <div class="text-center mt-10 h-full">
            <p class="text-xl font-semibold text-[#493323] mb-6 ">You have {{items|length}} items here</p>
            
            <div class="mt-8 text-center items-center">
                <a href="{% url 'main:create_item' %}">
                    <button class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-2 mx-6
                    hover:bg-[#D13535]">
                        Add New Item
                    </button>
                </a>
                <a href="{% url 'main:show_html' %}">
                    <button class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-2 mx-6
                    hover:bg-[#D13535]">
                        Show Items
                    </button>
                </a>
            </div>
            
            
        </div>
    </div>
        
        </div>
    </div>
    
</div>
</div>

{% endblock content %}
