{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex flex-col pl-12  py-12 min-h-screen text-black bg-[#C08261]">
  <h2 class="text-3xl text-[#630000] font-bold mb-8">Your Items</h2>

  <div id="card_item" class="flex flex-wrap mb-2 items-center mx-12">




  </div>

  <div class="flex flex-row mx-12 my-4">
    <a href="{% url 'main:show_main' %}">
      <button class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-4 mx-2 hover:bg-[#D3D3D3]">
        Back to Main Menu
      </button>
    </a>
    <a href="{% url 'main:create_item' %}">
      <button class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-4 mx-2 hover:bg-[#D3D3D3]">
        Add Items - No AJAX
      </button>
    </a>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-[#630000] text-white">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form" onsubmit="return false;">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter the item name">
              </div>
              <div class="mb-3">
                <label for="price" class="col-form-label">Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter the item amount">
              </div>
              <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                <textarea class="form-control" id="description" name="description"
                  placeholder="Enter the item description"></textarea>
              </div>
              <div class="mb-3">
                <label for="description" class="col-form-label">Code:</label>
                <textarea class="form-control" id="code" name="code" placeholder="Enter the item code"></textarea>
              </div>
              <div class="mb-3">
                <label for="description" class="col-form-label">Price:</label>
                <textarea class="form-control" id="price" name="price" placeholder="Enter the item price"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="rounded-lg text-white bg-[#630000] px-4 py-2 mx-2"
              data-bs-dismiss="modal">Close</button>
            <button type="button" id="button_add" class="rounded-lg text-white bg-[#630000] px-4 py-2 mx-2"
            data-bs-dismiss="modal">Add Item</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="text-black font-semibold rounded-lg bg-[#9A3B3B] py-2 px-4 mx-2 hover:bg-[#D3D3D3]"
      data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>
  </div>
</div>
</div>

<script>
  async function getItems() {
    return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }


  async function refreshItems() {
    document.getElementById("card_item").innerHTML = ""
    const items = await getItems()
    let htmlString = ""
    items.forEach((item) => {
      htmlString += `\n <div class="flex flex-col bg-[#FAF2D3] shadow-lg rounded-lg mx-4 my-4 p-4 last:bg-yellow-300 hover:bg-[#D3D3D3] transition-all duration-300 w-[280px] h-[180px]
      break-words">

              <p class="text-xl font-semibold">${item.fields.name}</p>
              <p>${item.fields.code} - ${item.fields.description}</p>
              <p>Price: ${item.fields.price}</p>
              <p>Stock: ${item.fields.amount}</p>
              <div class="flex flex-row mt-2 gap-4">
                <a onClick="deleteItem(${item.pk});">
                  <i class="fas fa-trash-alt text-red-500  cursor-pointer hover:text-red-700"></i>
              </a>
        
                <a href="/increase_item_amount/${item.pk}/">
                  <i class="fas fa-plus-circle text-green-500  cursor-pointer hover:text-green-700"></i>
                </a>
        
                <a href="/decrease_item_amount/${item.pk}/">
                  <i class="fas fa-minus-circle text-blue-500  cursor-pointer hover:text-blue-700"></i>
                </a>
        
              </div>
            </div>
            
            </div>`
    })

    document.getElementById("card_item").innerHTML = htmlString
  }

  refreshItems()

 function addItems() {
    fetch("{% url 'main:add_item_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#form'))
    }).then(refreshItems)
 
    document.getElementById("form").reset()
    return false
  }
  document.getElementById("button_add").onclick = addItems

  function deleteItem(itemId) {
    fetch(`/delete_item_ajax/${itemId}/`, {
      method: "POST",
    }).then(refreshItems);
  }


</script>


{% endblock %}