{% extends 'base.html' %} 

{% block content %}
<div class="flex flex-col px-12 py-24 min-h-screen text-white bg-gray-600">
    <h2 class="text-3xl text-yellow-300 font-bold mb-8">Your Items,</h2>
<table class="table-fixed w-full border-collapse border border-white">
    <thead>
        <tr>
            <th class="border border-white px-4 py-2">Name</th>
            <th class="border border-white px-4 py-2">Amount</th>
            <th class="border border-white px-4 py-2">Description</th>
            <th class="border border-white px-4 py-2">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td class="border border-white px-4 py-2">{{item.code}} - {{ item.name }}</td>
                <td class="border border-white px-4 py-2">{{ item.amount }}</td>
                <td class="border border-white px-4 py-2">{{ item.description }}</td>
                <td class="border border-white px-4 py-2">{{ item.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br />
<div class="flex flex-row">
<a href="{% url 'main:show_main' %}">
    <button class="text-black font-semibold rounded-lg bg-white py-2 px-2 mx-6">
        Back to Main Menu
    </button>
</a>
<a href="{% url 'main:create_item' %}">
    <button class="text-black rounded-lg font-semibold  bg-white py-2 px-2 mx-6">
        Add Items
    </button>
</a>
</div>
</div>

{% endblock %}